* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 80px;
}

.box ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-link {
  padding: 10px;
}
a {
  text-decoration: none;
}

.common-btn {
  background-color: rgb(25, 25, 203);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.oposite-btn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(25, 25, 203);
  color: rgb(25, 25, 203);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.common-btn:hover {
  background-color: rgb(33, 93, 177);
  color: rgb(255, 255, 255);
}

/* Hero section */

.hero-section-container {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./media/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 210px 40px;
}
.hero-section-container p {
  max-width: 700px;
  margin: auto;
}

.hero-section-container button {
  margin-top: 48px;
}
.hero-section-container h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

/* Meet the Speakers */

.meet-the-speakers {
  text-align: center;
  margin-top: 60px;
}
.meet-the-speakers h2 {
  margin-bottom: 20px;
}

.meet-the-speakers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1280px;
  margin: auto;
  gap: 20px;
  padding: 20px;
}

.info-card {
  /* border: 2px solid rgb(73, 71, 71); */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  text-align: left;
  border-radius: 5px;
}

.info-card img {
  padding-bottom: 10px;
  width: 100%;
  display: block;
}
.info-card .name,
.info-card .into-title,
.info-card .info {
  padding-left: 15px;
}

.info-card .into-title {
  color: skyblue;
  font-size: small;
}

.info-card .info {
  color: rgb(91, 89, 89);
}

/* secure-your-spot */
.secure-your-spot .spot-head,
.secure-your-spot .spot-title {
  text-align: center;
}
.secure-your-spot .spot-title {
  margin-bottom: 40px;
}
.secure-your-spot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px 200px;
}

.price-card {
  background-color: azure;
  border: 2px solid rgb(160, 157, 157);
  border-radius: 10px;
  padding: 30px 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.price-card-oposite {
  background-color: rgb(62, 61, 61);
  color: white;
  border: 2px solid rgb(160, 157, 157);
  border-radius: 10px;
  padding: 30px 50px;
  flex: 1;
  display:flex;
flex-direction:column;
}

.price-card-oposite button {
  text-align: center;
  margin: 50px 50px 0px 50px;
}
.price-card button {
  text-align: center;
  margin: 50px 50px 0px 50px;
}
.price-card-head,
.price-card-head-ops {
  padding-bottom: 20px;
}

.price-card-head p {
  color: darkgray;
}
.price-card-head h3 {
  font-size: 50px;
}
.price-card-head-ops .card-title {
  color: rgb(45, 45, 249);
  font-weight: 700;
}
.price-card-head-ops h3 {
  font-size: 50px;
}

hr{
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}
/* Footer */

.fotter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  padding: 50px 100px;
  background-color: #0d1b2a;
  color: aliceblue;
}

.fotter-container a {
  color: aliceblue;
}
.policy a {
  padding: 20px;
}
